.keywords {
    margin: 10px auto;
    width: 80%;
}
.keywords input {
    display: none;
}
.keywords label {
    display: inline-block;
    font-size: 0.8rem;
    margin: 10px 2px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #555;
    border: solid 0.1px #f0f0f0;
    vertical-align: middle;
}
.keywords label:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}
.keywords input:checked + label {
    background-color: #555;
    color: #fff;
}