/* レスポンシブ対応 */
@media screen and (max-width: 959px) { /* タブレット */
    *{
        font-size: 0.8rem;
    }
    .container {
        padding: 30px 5px;
    }
    .question {
        padding: 20px 0;
    }
    .keywords label {
        margin: 5px 1px;
        padding: 5px;
    }
    .rating-group {
        display: block;
    }
    .labels {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .label-left, .label-right {
        font-weight: lighter;
        position: relative;
        display: block;
    }
    .label-left {
        text-align: left;
    }
    .label-right {
        text-align: right;
    }
    .res-pc {
        display: none;
    }
    .res-phone {
        /* display: grid; */
        width: 40vw;
        display: inline-block;
    }

    .cell .course li {
        font-size: 0.7rem;
    }
    
}

@media screen and (max-width: 480px) { /* phone */
    .rating-group .circle-2, .rating-group .circle-4 {
        display: none;
    }
    .cell .course li {
        font-size: 0.5rem;
    }
    .dialog-content {
        width: 98%;
        /* height: 500px; */
        position: absolute;
        top: 70px;
        right: 5px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px 0;
    }
    .chat-window {
        margin: 10px 5px;
        padding: 20px;
        height: 300px; /* 固定の高さを設定 */
        max-height: 300px;
    }
}