
.timetable {
    width: 100%;
    /* border-collapse: collapse; */
    margin: 0 auto;
}

.timetable th, .timetable td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: center;
    position: relative;
}

.timetable th {
    background-color: #f0f0f0;
    color: #555;
    font-size: 0.8rem;
    padding: 1px 20px;
}

.timetable td {
    background-color: #fafafa;
    width: 150px;
}

.cell {
    /* position: relative; */
    vertical-align: top;
    width: 90%;
    height: 100%;
}

.cell button {
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 30%;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 1px;
    bottom: 1px;
    padding-bottom: 2px;
}

.cell button:hover {
    background-color: #444;
    transition: 0.3s;
}

.course {
    background-color: #fff;
    font-size: 0.6rem;
    padding: 5px;
    margin: 0;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.course:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
}

.course ul li {
    color: #555;
    list-style: none;
}

.timetable .rows {
    padding: 30px 2px;
    font-size: 0.8rem;
    width: 1vw;
}

/* after selection */
#selected-conditions {
    text-align: right;
    font-size: 0.8rem;
    display:inline-block
}
#selected-conditions p {
    padding: 5px;
    color: #555;
    border: none;
    text-align: left;
}
.hover-up {
    display: none;
    padding: 20px;
}
#selected-conditions:hover {
    cursor: pointer;
    transition: 0.5s;
    .hover-up {
        transition: 0.3s;
        display: block;
        position: fixed;
        z-index: 99;
        background-color: #fff;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        top: 100px;
        left: min(300px, 1%);
    }
}