langchain_groq
langchain
faiss-cpu
langchain-community
sentence-transformers
langchain-text-splitters
pandas
pulp
torch
transformers
protobuf
ipadic
colorama
tabulate
matplotlib
japanize-matplotlib
pypdf
fugashi[unidic-lite]
fastapi==0.95.1
pydantic==1.10.7
uvicorn==0.22.0