langchain_groq
langchain
langchain-core
protobuf
sentence-transformers
langchain-text-splitters
pandas
pulp
torch
transformers
ipadic
colorama
tabulate
matplotlib
japanize-matplotlib
pypdf
fugashi[unidic-lite]
fastapi==0.85.1
pydantic==1.10.7
uvicorn==0.22.0
pypdf
python-multipart
langchain-huggingface
langchain-google-genai
chromadb==0.3.29
langchain-community==0.2.18