* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #555;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 60px 0;
    padding: 100px 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    text-align: center;
    vertical-align: center;
    padding: 2vh 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#ip {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fefefe;
    border: solid 0.1px #eee;
    color: #555;
}

.container {
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #555;
}
h2 {
    text-align: center;
    font-size: 20px;
    color: #555;
    padding-top: 30px;
}

.slider-container {
    text-align: center;
    gap: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: min(300px, 90%);
    height: 8px;
    background: #e0e0e0;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
}

input[type="number"] {
    width: 70px;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    color: #999;
    border: none;
    text-align: center;
}

#range {
    height: 10px;
}
.range-wrapper {
    width: min(500px, 90%);
    margin: 0 auto;
    padding: 20px;
}
.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    right: -8px;
    top: -3px;
}
.noUi-handle {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: #555;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
.noUi-handle::before, .noUi-handle::after {
    display: none;
}
.noUi-pips {
    display: none;
}
.noUi-target {
    -webkit-appearance: none;
    appearance: none;
    /* width: 300px; */
    height: 8px;
    background: #e0e0e0;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border: none;
}
.noUi-target:hover {
    opacity: 1;
}
.noUi-connect {
    background: #2f00eeaa;
}
  

.label {
    margin: 10px;
}

.meter {
    padding: 20px;
}

.select {
    text-align: center;
    margin: 20px;
}
select {
    margin: 5px;
    padding: 10px 2px;
    border-radius: 5px;
}
select:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

.button-wrapper {
    text-align: center;
    width: 100%;
    margin: 10px auto;
}
.submit {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fefefe;
    border: solid 0.1px #eee;
    color: #555;
}
.submit:hover {
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


/* timetable */
.timetable {
    width: 100%;
    /* border-collapse: collapse; */
    margin: 0 auto;
}

.timetable th, .timetable td {
    border: 1px solid #ddd;
    padding: 1px;
    text-align: center;
    position: relative;
}

.timetable th {
    background-color: #f0f0f0;
    color: #555;
    font-size: 0.8rem;
    padding: 1px 20px;
}

.timetable td {
    background-color: #fafafa;
    width: 150px;
}

.cell {
    /* position: relative; */
    vertical-align: top;
    width: 90%;
    height: 100%;
}

.cell button {
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 30%;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    right: 1px;
    bottom: 1px;
    padding-bottom: 2px;
}

.cell button:hover {
    background-color: #444;
    transition: 0.3s;
}

.cell .course {
    background-color: #fff;
    font-size: 0.6rem;
    padding: 5px;
    margin: 0;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.cell .course:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    cursor: pointer;
}

.cell .course ul li {
    color: #555;
    list-style: none;
}

.timetable .rows {
    padding: 30px 2px;
    font-size: 0.8rem;
    width: 1vw;
}



/* keywords */
.keywords {
    margin: 10px auto;
    width: 80%;
}
.keywords input {
    display: none;
}
.keywords label {
    display: inline-block;
    font-size: 0.8rem;
    margin: 10px 2px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #fff;
    color: #555;
    border: solid 0.1px #f0f0f0;
    vertical-align: middle;
}
.keywords label:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
}
.keywords input:checked+label {
    background-color: #555;
    color: #fff;
}

/* conditions question*/
.question {
    text-align: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #eeeeeeee;
}

.rating-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.rating-group input[type="radio"] {
    display: none;
}

.rating-group label {
    background: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.rating-group .circle-1 {
    width: 20px;
    height: 20px;
}
.rating-group .circle-2 {
    width: 22px;
    height: 22px;
}
.rating-group .circle-3 {
    width: 28px;
    height: 28px;
}
.rating-group .circle-4 {
    width: 35px;
    height: 35px;
}
.rating-group .circle-5 {
    width: 50px;
    height: 50px;
}

.rating-group .circle-left {
    border: 2px solid #b384eeaa;
}
.rating-group .circle-center {
    border: 2px solid #eeeeee;
    width: 20px;
    height: 20px;
}
.rating-group .circle-right {
    border: 2px solid #2f00eeaa;
}

.rating-group .circle-left:hover {
    background-color:  #b384ee55;
    transition: 0.3s;
}
.rating-group .circle-center:hover {
    background-color:  #eeeeeeee;
    transition: 0.3s;
}
.rating-group .circle-right:hover {
    background-color:  #2f00ee55;
    transition: 0.3s;
}

.rating-group input[type="radio"]:checked + .circle-left {
    background-color: #b384eeaa;
    border: 2px solid #b384eeaa;
}
.rating-group input[type="radio"]:checked + .circle-center {
    background-color: #ddd;
    border: 2px solid #ddd;
}
.rating-group input[type="radio"]:checked + .circle-right {
    background-color: #2f00eeaa;
    border: 2px solid #2f00eeaa;
}

.label-left, .label-right {
    font-size: 0.8rem;
    font-weight: bold;
}

.label-left {
    margin-right: 10px;
    color: #b384ee;
}
.label-right {
    margin-left: 10px;
    color: #2f00ee;
}

/* button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
} */



/* popup window */

.popup {
    display: block;
    position: fixed;
    z-index: 0;
    margin: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.popup:hover {
    cursor: pointer;
    transition: 0.3s;
}
.popup-content {
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    width: min(800px, 95%);
    height: 80%;
    background-color: #eee;
    z-index: 10;
}
.popup-content:hover {
    cursor: auto;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.close {
    border: none;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -20px;
    right: -10px;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
